@font-face {
    font-family: 'AquilineTwo';
    src: url('../static/AquilineTwo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    background-color: #e4dcca;
    color: #413625;
    margin: 0;
    height: 100%;
    line-height: 1;
    font-family: AquilineTwo, serif;
}

main {
    width: 100%;
    height: 100%;
    display: table;
}
main .center {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

h1 {
    font: inherit;
    font-size: 5rem;
    margin-bottom: -1rem;
}
h2 {
    font: inherit;
    font-size: 3rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: #c00;
}
a:hover {
    color: #b00;
}
