---
title: rubrico
---

<main>
  <div class="center">
    <h1>Rubrico</h1>
    <h2><a href="#" id="open-popup">to paint red</a></h2>
    <img src="static/flourish.svg">
  </div>
</main>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"
        integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
        crossorigin="anonymous"></script>
<script src="static/jquery.magnific-popup.min.js"></script>
<script>
jQuery('#open-popup').magnificPopup({
  items: [
    { src: 'https://upload.wikimedia.org/wikipedia/commons/b/b4/Edwin_Smith_Papyrus_v2.jpg' },
    { src: 'https://upload.wikimedia.org/wikipedia/commons/3/30/PinedjemIIBookOfTheDead-BritishMuseum-August21-08.jpg' },
    { src: 'https://upload.wikimedia.org/wikipedia/commons/f/f4/Flickr_-_Nic%27s_events_-_2008-04-04_%28London%2C_Greenwich_and_British_Museum%29_-_161.jpg' },
    { src: 'https://upload.wikimedia.org/wikipedia/commons/b/b1/Codex_Ink.jpg' },
    { src: 'https://upload.wikimedia.org/wikipedia/commons/1/18/Flickr_-_Nic%27s_events_-_British_Museum_with_Cory_and_Mary%2C_6_Sep_2007_-_267.jpg' },
    { src: 'https://archive.org/stream/PETRUSLOMBARDUSSententiarumLibriIV/PETRUS_LOMBARDUS_Sententiarum_libri_IV?ui=embed#page/n65/mode/2up', type: 'iframe' },
    { src: 'https://upload.wikimedia.org/wikipedia/commons/d/d8/Missel_dominicain_MG_2117.jpg' },
    { src: 'https://upload.wikimedia.org/wikipedia/commons/5/57/Flickr_-_Nic%27s_events_-_British_Museum_with_Cory_and_Mary%2C_6_Sep_2007_-_269.jpg' },
    { src: 'https://upload.wikimedia.org/wikipedia/commons/1/1d/Illuminated.bible.closeup.arp.jpg' },
    { src: 'https://archive.org/stream/malorywinchester?ui=embed#page/n21/mode/2up', type: 'iframe' },
    { src: 'https://upload.wikimedia.org/wikipedia/commons/6/66/Flickr_-_Nic%27s_events_-_British_Museum_with_Cory_and_Mary%2C_6_Sep_2007_-_275.jpg' },
    { src: 'https://upload.wikimedia.org/wikipedia/commons/e/e1/Gradual_of_King_John_Albert.jpg' },
    { src: 'https://upload.wikimedia.org/wikipedia/commons/8/87/Timbuktu_Ink.jpg' },
    { src: 'https://archive.org/stream/LewisAndShortANewLatinDictionary/lewisandshort?ui=embed#page/n1615/mode/2up', type: 'iframe' },
  ],
  gallery: {
    enabled: true,
    preload: [1,3]
  },
  type: 'image'
});
</script>
